body{
    overflow-x: hidden;
}
#header{
    background-color: #2d3e50;
}
#footer{
    background-color: #2d3e50;
}
#Name{
    color: #0da3bb;
}
a:link{
    color: #ffffff
}
a:hover, a:visited{
    color: #0da3bb;
}
#about{
    background-color: #0da3bb;
}
#table{
    border-bottom: 2px dotted white;
}
.heading{
    font-size: 175%;
    font-weight: 500;
}
#contact{
    background-color: #17a086;
}
#workPlace{
    color: #cbd5d7
}
#work{
    background-color: #7e8c8d;
}